// Layout
//
// Styles for managing the structural hierarchy of the site.
/*
.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}
*/

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($black, 0.4);
}

.site {
  @extend .fill-screen;
  @extend .flex-container;
  @extend .flex-column;
}


.menubar {
  @extend .flex-item;
  @extend .flex-container;
  @extend .flex-row;
  @extend .scroll-x;
  align-content: center;
  background: linear-gradient(100deg, $theme-color 0%, darken($theme-color,20%) 100%);
  // box-shadow: 0 0 20px $gray-2;
  z-index: 2;
  padding: 0.5rem;

  @media (min-width: $large-breakpoint) {

  }

  &>div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  a {
    color: $gray-5;
  }

}

.spacer {
  @extend .flex-item-expand;
}

.main {
  @extend .flex-item-expand;
  @extend .flex-container;
  @extend .flex-row;

}

.sidebar {
  @extend .flex-item;
  @extend .flex-container;
  @extend .flex-column;
  @extend .scroll-y;

  background-color: lighten($theme-color,20%);  
  padding: 1rem;

  hr {
    border-color: darken($theme-color,20%)
  }

  a {
    color: darken($theme-color,40%)
  }

}

.toggle {
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:not(:checked) ~ .sidebar {
  display: none;
}

.content {
  @extend .flex-item-expand;
  @extend .flex-container;
  @extend .flex-column;
  @extend .scroll-y;

  padding: 1.5rem;
  box-shadow: 0 0 20px $gray-2;
  z-index: 1;
}
